summary {
  display: inline-block;
}

input:not([type='submit']) {
  margin-bottom: 0 !important;
}

input[type='submit'] {
  width: fit-content;
  top: 40px;
  right: 40px;
  position: fixed;
}

.fields-row {
  display: flex;
  gap: 1rem;
}
